.form-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 20px;
}

.title {
  font-size: var(--font-lg);
  font-weight: 600;
  color: var(--gray-900);
  padding-left: 1px;
}

@media (max-width: 768px) {
  .form-content {
    gap: 18px;
    padding: 0px;
    margin: 8px 0 12px;
  }

  .title {
    font-size: var(--font-md);
  }
}
