.basic {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expanded-btn {
  background-color: var(--background);
  border: none;
  color: var(--primary-600);
  cursor: pointer;
}

/* 모바일 반응형 */
@media (max-width: 768px) {
  .expanded-btn {
    font-size: var(--font-sm);
  }
}
