.content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.text {
  font-size: var(--font-md);
  font-weight: 500;
  color: var(--gray-900);
  margin: 0;
  line-height: 1.5;
}

.subtext {
  font-size: var(--font-sm);
  color: var(--gray-500);
  margin: 0;
  line-height: 1.5;
}

.actions {
  display: flex;
  gap: 12px;
}

.actions button {
  flex: 1;
}

/* 반응형 */
@media (max-width: 768px) {
  .content {
    gap: 35px;
    margin: 25px 0 20px;
  }
}